<noscript>Javascript is required in the Client Area</noscript>
<div class="login">
  <h2>Login</h2>
  <form id="login" action="/login.php" method="post">
  <div>
    <label for="system">System Name</label> 
    <input type="text" id="system" name="system" class="system"/>
  </div>
  <div>
    <label for="pwd">Password</label> 
    <input type="password" id="pwd" name="pwd" class="pwd"/>
  </div>
  <div>
    <label class="result"><span>&nbsp;</span></label>
    <input type="submit" value="Login" class='submit'/>
  </div>
  </form>
</div> <!-- login -->
