.bandwidth-usage-monthly {
width:50em;
height:20em;
}
.right {
float:right;
}

.hidden {
display:none;
}

.reboot {
text-align:right;
}

#content {
background-color:#FFF;
padding-bottom:2em;
padding-top:2em;
}

#top {
padding-bottom:0;
padding-top:.3em;
}

#top .logo {
float:left;
width:5em;
}

#top .menu {
font-size:1.1em;
height:1em;
padding-top:.4em;
}

#top .menu ul,#payment ul {
list-style:none;
padding:0;
}

#top .rightside {
color:#999;
float:right;
font-size:.9em;
}

#top .rightside li {
float:left;
margin-right:1em;
}

.box {
-moz-border-radius:1em;
background-color:#EEE;
border-radius:1em;
font-size:0.8em;
margin:0 auto;
}

.box .inner {
  padding:0 1em 1em;
}

.box h2 {
padding-top:.3em;
}

.error {
color:red;
}

#top_container, #content_container {
clear:both;
margin-left:auto;
margin-right:auto;
overflow:hidden;
width:60em;
}

.login {
width:25em;
}

.notice {
color:#666;
font-size:.8em;
font-style:italic;
text-align:center;
}

.summary {
width:40em;
}

a:hover {
color:#369;
}

a:link,a:visited {
color:#69A;
text-decoration:none;
}

body {
background-color:#000;
color:#222;
font-family:"Trebuchet MS", arial, verdana, tahoma, sans-serif;
font-size:100%;
margin:0;
padding:0;
}

img {
border-style:none;
}

label {
display:block;
float:left;
font-weight:700;
margin-right:.5em;
text-align:right;
width:8em;
}

dl {
margin:0;
}

dl dt {
color:#999;
float:left;
margin:0;
width:10em;
}

dl dd {
margin:0;
}
