#bottom .inner {
color:#CCC;
padding-bottom:2em;
padding-top:1em;
}

#bottom .legal {
border-bottom:1px solid #111;
border-top:1px solid #111;
color:#222;
font-size:.7em;
padding-bottom:.5em;
padding-top:.5em;
}

#bottom .menu {
float:left;
list-style:none;
margin-right:3em;
padding:0;
width:16em;
}

#bottom .menu li {
border-bottom:1px dashed #111;
padding-bottom:.5em;
padding-left:.5em;
padding-top:.5em;
}

#bottom .misc {
border-left:1px solid #111;
float:right;
margin-right:3em;
margin-top:1em;
padding-left:1em;
width:17em;
}

#bottom h3 {
color:#333;
font-size:.8em;
}

#leftside {
float:left;
width:20em;
}

#leftside li {
padding:.3em;
}

#leftside ul {
padding-right:1em;
}

#middle {
background-color:#FFF;
padding-bottom:3em;
padding-top:1em;
}

#middle .bottom h1 {
border-bottom:1px solid #000;
border-top:1px solid #000;
color:#000;
padding-bottom:.3em;
padding-left:.5em;
padding-top:.3em;
}

#middle .top {
background-color:#CCC;
height:70px;
padding:1em;
text-align:center;
}

#payment li {
text-align:center;
}

#rightside {
float:right;
width:37em;
}

#rightside table {
border:0;
border-collapse:collapse;
width:100%;
}

#rightside td {
padding:.5em;
text-align:left;
}

#rightside th {
padding:.5em .5em .5em .7em;
text-align:left;
}

#rightside thead {
background-color:#EEE;
}

#top {
padding-bottom:0;
padding-top:.3em;
}

#top .logo {
float:left;
width:5em;
}

#top .menu {
font-size:1.1em;
height:1em;
padding-top:.4em;
}

#top .menu ul,#payment ul {
list-style:none;
padding:0;
}

#top .rightside {
color:#999;
float:right;
font-size:.9em;
}

#top .rightside li {
float:left;
margin-right:1em;
}

#webhost_stuff {
height:110px;
}

#webhost_stuff table {
float:right;
padding-right:.5em;
}

.inner {
clear:both;
margin-left:auto;
margin-right:auto;
overflow:hidden;
width:60em;
}

.notice {
color:#666;
font-size:.8em;
font-style:italic;
text-align:center;
}

a:hover {
color:#369;
}

a:link,a:visited {
color:#69A;
text-decoration:none;
}

body {
background-color:#000;
color:#222;
font-family:"Trebuchet MS", arial, verdana, tahoma, sans-serif;
font-size:100%;
margin:0;
padding:0;
}

img {
border-style:none;
}

label {
display:block;
float:left;
font-weight:700;
margin-right:.5em;
text-align:right;
width:7em;
}