.error {
  color:red;
}

.login {
width:20em;
background-color:#EEE;
-moz-border-radius:1em;
border-radius:1em;
padding-left:1em;
margin:0 auto;
padding-bottom:0.4em;
padding-left:1em;
padding-right:1em;
}

.login h2 {
padding-top:0.2em;
}

#middle {
background-color:#FFF;
padding-bottom:2em;
padding-top:2em;
}

#middle .bottom h1 {
border-bottom:1px solid #000;
border-top:1px solid #000;
color:#000;
padding-bottom:.3em;
padding-left:.5em;
padding-top:.3em;
}

#middle .top {
background-color:#CCC;
height:70px;
padding:1em;
text-align:center;
}

#top {
padding-bottom:0;
padding-top:.3em;
}

#top .logo {
float:left;
width:5em;
}

#top .menu {
font-size:1.1em;
height:1em;
padding-top:.4em;
}

#top .menu ul,#payment ul {
list-style:none;
padding:0;
}

#top .rightside {
color:#999;
float:right;
font-size:.9em;
}

#top .rightside li {
float:left;
margin-right:1em;
}

.inner {
clear:both;
margin-left:auto;
margin-right:auto;
overflow:hidden;
width:60em;
}

.notice {
color:#666;
font-size:.8em;
font-style:italic;
text-align:center;
}

a:hover {
color:#369;
}

a:link,a:visited {
color:#69A;
text-decoration:none;
}

body {
background-color:#000;
color:#222;
font-family:"Trebuchet MS", arial, verdana, tahoma, sans-serif;
font-size:100%;
margin:0;
padding:0;
}

img {
border-style:none;
}

label {
display:block;
float:left;
font-weight:700;
margin-right:.5em;
text-align:right;
width:8em;
}
